fastapi
uvicorn
sqlalchemy
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
pydantic
pydantic-settings
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
python-dotenv
redis
celery
schedule
authlib
bcrypt